
[general]
import = [
  # "/usr/lib/node_modules/alacritty-themes/themes/Tokyonight_Storm.toml",
  # "/usr/lib/node_modules/alacritty-themes/themes/Gruvbox-Dark.toml",
  "/usr/lib/node_modules/alacritty-themes/themes/Dracula.toml",
]

[font]
# size = 8
size = 10

[font.offset]
x = 0
y = 0

[font.normal]
family = "FiraCode Nerd Font"
style = "Regular"

[font.bold]
family = "FiraCode Nerd Font"
style = "Bold"

[font.italic]
family = "FiraCode Nerd Font"
style = "Italic"

[window]
decorations = "None"
option_as_alt = "Both"
dynamic_padding = true
opacity = 0.95

# Правильная вложенность для паддингов:
[window.padding]
x = 10  # Поставь побольше (например, 20), чтобы сразу увидеть результат
y = 10

[window.dimensions]
columns = 0
lines = 0

[window.position]
x = 5
y = 5

[terminal]
osc52 = "CopyPaste"

[[mouse.bindings]]
mouse = "Right"
mods = "Control"
action = "Paste"

[[keyboard.bindings]]
key = "Right"
mods = "Command"
chars = "\u001bF"

[[keyboard.bindings]]
key = "Left"
mods = "Command"
chars = "\u001bB"

[[keyboard.bindings]]
key = "Right"
mods = "Alt"
chars = "\u001bF"

[[keyboard.bindings]]
key = "Left"
mods = "Alt"
chars = "\u001bB"

[scrolling]
history = 10_000
multiplier = 3

[selection]
save_to_clipboard = true

[cursor]
style = "Beam"
unfocused_hollow = false
thickness = 0.2

[colors.primary]
background = "0x282828"
foreground = "0xebdbb2"

[hints]

[[hints.enabled]]
# Hints  для открытия links по клику или с клавиатуры
command = "xdg-open" # On Linux/BSD
# command = "open" # On macOS
# command = { program = "cmd", args = [ "/c", "start", "" ] } # On Windows
regex = "(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher://|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`\\\\]+"
hyperlinks = true
post_processing = true
persist = false
mouse.enabled = true
binding = { key = "O", mods = "Control|Shift" }

[[hints.enabled]]
# Hints  для открытия файлов в nvim по клику или с клавиатуры
command = { program = "bash", args = [
  "-c",
  "alacritty -e nvim \"$(echo ${0} | sed \"s/^'//; s/'$//\")\"",
] }
hyperlinks = true
post_processing = true
persist = false
mouse = { enabled = true, mods = "Control" }
binding = { key = "G", mods = "Control|Shift" }
regex = "(~?\\/?[^\\s<>\"\\']*\\.[a-zA-Z0-9]+)\\s*$|(\\/\\.[^\\s<>\"]*\\.[a-zA-Z0-9]+)\\s*$|'([[:print:] ]*\\.\\w+)'"
# Тема Gruvbox Dark
# [colors.normal]
# black = "0x282828"
# red = "0xcc241d"
# green = "0x98971a"
# yellow = "0xd79921"
# blue = "0x458588"
# magenta = "0xb16286"
# cyan = "0x689d6a"
# white = "0xa89984"
#
# [colors.bright]
# black = "0x928374"
# red = "0xfb4934"
# green = "0xb8bb26"
# yellow = "0xfabd2f"
# blue = "0x83a598"
# magenta = "0xd3869b"
# cyan = "0x8ec07c"
# white = "0xebdbb2"
